@mixin setFamily($fontName, $fileName, $fontWeight, $fontStyle: false) {
  @font-face {
    font-family: $fontName;
    font-display: swap;
    @if $fontStyle {
      font-style: italic;
    }
    font-weight: $fontWeight;
    src: url("../fonts/#{$fontName}/#{$fileName}.woff2") format("woff2"),
    url("../fonts/#{$fontName}/#{$fileName}.ttf") format("truetype");
  }
}

@mixin setTruncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
