$main_font: 'WorkSans';

$phone: '419px';
$smart_phone: '479px';
$tablet: '767px';
$banner_tablet: '800px';
$desktop: '1023px';
//$wide_screen: '1200px';
//$wide_screen: '1600px';

$primary: hsl(209, 99%, 57%);
$secondary: hsl(0, 0%, 100%);
$third: hsl(0, 0%, 0%);
$error: hsl(0, 100%, 48%);
