div.subscribe.footer__subscribe
  +genTitle('', 'subscribe', 'Subscribe')
  form.subscribe-form.subscribe__form
    input.subscribe-form__email(placeholder='E-mail')
    button.subscribe-form__submit Subscribe
