.copyright {
  @include media(tablet, 'max') {
    text-align: center;
  }

  &__text {
    $fz: 12;
    font-size: em($fz, $fz_base);
    line-height: em(18, $fz);
    letter-spacing: em(0.15, $fz);
    color: $secondary;
  }
}
