/*
  --- Generates em sizes by px ---
  $args... - includes count of size with or not with a type of size (example: 16px, 16)
*/

/*
  --- Generates a color by template colors ---
  $name - includes a name for color (example: secondary, theme)
*/

/*
  --- Generates url to local fonts ---
  $fontName - name by font, which uses in property "font-family" (example: 'Arial', 'Roboto')
  $fileName - name by font's file to include in website (example: 'ArialRegular', 'ArialBold')
  $fontWeight - count for font's weight, which uses in property "font-weight" (example: 700, 300, 100)
  $fontStyle - it's a boolean type which includes values "true" or "false" - adds a property "font-style: italic" if it's true
*/

/*
  --- Generates a media queries for your scss styles ---
  $point - including a name for breakpoint (example: tablet, desktop)
  $mode - including mode by breakpoint (example: 'min', 'max')
*/

/*
  --- Generates properties for ellipses by a long texts ---
*/

@font-face {
  font-family: "WorkSans";
  font-display: swap;
  font-weight: 300;
  src: url("../fonts/WorkSans/WorkSans-Light.woff2") format("woff2"), url("../fonts/WorkSans/WorkSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans";
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/WorkSans/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans";
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/WorkSans/WorkSans-Medium.woff2") format("woff2"), url("../fonts/WorkSans/WorkSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans";
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/WorkSans/WorkSans-SemiBold.woff2") format("woff2"), url("../fonts/WorkSans/WorkSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

picture {
  display: inline-block;
  width: 100%;
  line-height: 0;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

a:hover {
  opacity: 0.6;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

button:focus {
  outline: none;
}

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

input {
  outline: unset;
  border: unset;
}

input::-webkit-input-placeholder {
  opacity: 0.6;
}

input::-moz-placeholder {
  opacity: 0.6;
}

input:-ms-input-placeholder {
  opacity: 0.6;
}

input::-ms-input-placeholder {
  opacity: 0.6;
}

input::placeholder {
  opacity: 0.6;
}

footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: 'prev';
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: 'next';
}

.swiper-button-prev.swiper-button-theme,
.swiper-button-next.swiper-button-theme {
  --swiper-navigation-color: #2595fe;
}

.swiper-button-prev.swiper-button-error,
.swiper-button-next.swiper-button-error {
  --swiper-navigation-color: #f50000;
}

.swiper-button-prev.swiper-button-primary,
.swiper-button-next.swiper-button-primary {
  --swiper-navigation-color: black;
}

.swiper-button-prev.swiper-button-secondary,
.swiper-button-next.swiper-button-secondary {
  --swiper-navigation-color: white;
}

.swiper-button-lock {
  display: none;
}

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-container-pointer-events {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.swiper-container-pointer-events.swiper-container-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* 3D Effects */

.swiper-container-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -webkit-scroll-snap-type: x mandatory;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -webkit-scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

body {
  font: 16px/1.5 "WorkSans", "Arial", "Roboto", sans-serif;
}

.header--is-fixed {
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.header--is-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.landing-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

.u-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 0.9375em;
  padding-left: 0.9375em;
  width: 100%;
  max-width: 71.25em;
  margin-right: auto;
  margin-left: auto;
}

.u-wrapper--is-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

.title--is-inverted {
  color: #242424;
}

.title__text {
  font-size: 2.25em;
  line-height: 1.55556em;
  letter-spacing: 0.00417em;
}

.link {
  display: inline-block;
  border-radius: 0.25em;
}

.link--is-btn {
  padding: 0.6875em 0.9375em;
  background-color: #2595fe;
  text-align: center;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.link--is-btn:hover {
  opacity: 1;
  background-color: #218bed;
}

.link__text {
  color: white;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header .nav__line {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.125em;
  background-color: #2595fe;
  -webkit-transition: left 0.3s ease-in-out, max-width 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out, max-width 0.3s ease-in-out;
  transition: left 0.3s ease-in-out, max-width 0.3s ease-in-out;
}

.nav__burger {
  position: relative;
}

.nav__list {
  position: relative;
}

.nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav-list__item:nth-child(2):hover ~ .nav-list::after {
  left: 20%;
}

.nav-list__item:not(:last-child) {
  padding-right: 0.9375em;
}

.nav-list-link {
  letter-spacing: 0.00937em;
}

.nav-list-link:hover {
  opacity: 1;
}

.nav-list-link__text {
  font-size: 1.125em;
  font-weight: 500;
  color: white;
}

.nav-burger {
  display: none;
  width: 1.875em;
  height: 1.875em;
  font-size: 16px;
}

.nav-burger--is-active.nav-burger::before,
.nav-burger--is-active.nav-burger::after {
  position: absolute;
  top: 50%;
}

.nav-burger--is-active.nav-burger::before {
  -webkit-transform: rotateZ(45deg) translateY(-50%);
  -ms-transform: rotate(45deg) translateY(-50%);
  transform: rotateZ(45deg) translateY(-50%);
}

.nav-burger--is-active.nav-burger::after {
  -webkit-transform: rotateZ(-45deg) translateY(-50%);
  -ms-transform: rotate(-45deg) translateY(-50%);
  transform: rotateZ(-45deg) translateY(-50%);
}

.nav-burger--is-active.nav-burger .nav-burger__line {
  display: none;
}

.nav-burger::before,
.nav-burger::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.125em;
  background-color: white;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  will-change: transform;
}

.nav-burger__line {
  display: block;
  width: 100%;
  height: 0.125em;
  margin-top: 0.3125em;
  margin-bottom: 0.3125em;
  background-color: white;
}

.list {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.list--is-top-footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.list--is-top-footer .list-link__text {
  font-size: 0.875em;
  line-height: 4em;
  letter-spacing: 0.01071em;
}

.list--is-bottom-footer .list__item:not(:last-child) {
  position: relative;
  margin-right: 0.625em;
}

.list--is-bottom-footer .list__item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -0.375em;
  width: 0.0625em;
  height: 50%;
  background-color: white;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.list--is-bottom-footer .list-link__text {
  font-size: 0.75em;
  line-height: 1.5em;
  letter-spacing: 0.0125em;
}

.list-link {
  color: white;
}

.header {
  background-color: black;
}

.header__wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 1.8125em;
  padding-bottom: 1.8125em;
}

.header__link--is-logo {
  width: 100%;
  max-width: 8.8125em;
  line-height: 1;
}

.link--is-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer__upper {
  padding-top: 5.125em;
  padding-bottom: 5.125em;
  min-height: 24.375em;
  background-color: #242424;
}

.footer__upper .u-wrapper--is-row {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer__upper .title__text {
  font-size: 1.125em;
  line-height: 3.11111em;
  letter-spacing: 0.00833em;
}

.footer__bottom {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  min-height: 3.75em;
  background-color: #1c1c1c;
}

.list--is-bottom-footer .list-link {
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.list--is-bottom-footer .list-link:hover {
  opacity: 1;
  color: #218bed;
}

.menu .title {
  text-align: center;
}

.footer__menu .list-link {
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.footer__menu .list-link:hover {
  opacity: 1;
  color: #218bed;
}

.subscribe-form__email {
  padding-right: 1.07143em;
  padding-left: 1.07143em;
  width: 100%;
  max-width: 18.21429em;
  border-radius: 0.28571em;
  background-color: whitesmoke;
  font-size: 0.875em;
  line-height: 3.42857em;
  letter-spacing: 0.01071em;
  color: #242424;
}

.subscribe-form__submit {
  padding-top: 0.61111em;
  padding-bottom: 0.61111em;
  width: 100%;
  max-width: 14.16667em;
  margin-top: 1.66667em;
  border-radius: 0.22222em;
  background-color: #2595fe;
  font-size: 1.125em;
  line-height: 1.44444em;
  letter-spacing: 0.00833em;
  color: white;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.subscribe-form__submit:hover {
  background-color: #218bed;
}

.contacts__text {
  max-width: 12.64286em;
  font-size: 0.875em;
  line-height: 1.85714em;
  letter-spacing: 0.01071em;
  color: white;
}

.contacts__list {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 2.1875em;
}

.contacts__list .list__item:not(:last-child) {
  margin-right: 1.25em;
}

.contacts__list .list__link {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 2em;
  height: 2em;
}

.contacts__list .list-link {
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.contacts__list .list-link:hover {
  opacity: 1;
  color: #218bed;
}

.copyright__text {
  font-size: 0.75em;
  line-height: 1.5em;
  letter-spacing: 0.0125em;
  color: white;
}

@media (max-width: 767px) {
  .nav {
    position: static;
  }

  .header .nav__line {
    opacity: 0;
  }

  .nav__list {
    position: absolute;
    top: 5.4375em;
    left: -100vw;
    width: 100vw;
    -webkit-transition: left 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out;
  }

  .nav__list--is-active {
    left: 0;
  }

  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0.9375em;
    border-top: 1px solid white;
    background-color: black;
  }

  .nav-list__item--is-active .nav-list__link {
    border-bottom: 2px solid #2595fe;
  }

  .nav-list__item:not(:last-child) {
    padding-right: 0;
  }

  .nav-burger {
    display: block;
  }

  .list--is-top-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .list--is-top-footer .list__item:not(:last-child) {
    margin-right: 0.9375em;
  }

  .list--is-top-footer .list-link__text {
    font-size: 0.75em;
    line-height: 2.33333em;
  }

  .footer__upper {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    min-height: auto;
  }

  .footer__upper .u-wrapper--is-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__upper .title__text {
    font-size: 1em;
    line-height: 1.75em;
  }

  .footer__bottom .u-wrapper--is-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .subscribe {
    margin-top: 1.25em;
    text-align: center;
  }

  .subscribe-form__email {
    max-width: 100%;
    font-size: 0.75em;
    line-height: 2.83333em;
  }

  .subscribe-form__submit {
    max-width: 100%;
    margin-top: 0.5em;
    font-size: 0.875em;
  }

  .contacts {
    margin-top: 1.25em;
    text-align: center;
  }

  .contacts__list {
    margin-top: 0.625em;
  }

  .contacts__list .list__item:not(:last-child) {
    margin-right: 1em;
  }

  .contacts__list .list__link {
    width: 1.5em;
    height: 1.5em;
  }

  .copyright {
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */
