a.link.link--is-logo.header__link.header__link--is-logo(href=company.logo.url title=company.logo.urlTitle)
  picture.link__pic
    img.link__img(src='/img/sprite.svg#' + company.logo.fileName alt=company.logo.alt)
