div.contacts.contacts--is-footer.footer__contacts
  +genTitle('', 'contacts', 'Contact')
  p.contacts__text 624 Green Ave, Suite 123 New York, CA 84104
  +genIconMenu(footer.socials, 'contacts', '_blank')
