.contacts {
  @include media(tablet, 'max') {
    margin-top: em(20, $fz);
    text-align: center;
  }

  &__text {
    $fz: 14;
    max-width: em(177, $fz);
    font-size: em($fz, $fz_base);
    line-height: em(26, $fz);
    letter-spacing: em(0.15, $fz);
    color: color(secondary);
  }

  &__list {
    display: inline-flex;
    margin-top: em(35, $fz);

    @include media(tablet, 'max') {
      margin-top: em(10, $fz);
    }

    .list {
      &__item {
        &:not(:last-child) {
          margin-right: em(20, $fz);

          @include media(tablet, 'max') {
            margin-right: em(16, $fz);
          }
        }
      }

      &__link {
        display: inline-flex;
        width: em(32, $fz);
        height: em(32, $fz);

        @include media(tablet, 'max') {
          width: em(24, $fz);
          height: em(24, $fz);
        }
      }
    }

    .list-link {
      transition: color 0.3s ease-in-out;

      &:hover {
        opacity: 1;
        color: desaturate(darken(color(theme), 4%), 14%);
      }
    }
  }
}
